        html, body {
            height: 100%;
            margin: 0px;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            resize: vertical;
            overflow: auto;
        } 

        .main-panel { 
			background-color: #fff; 
			border-radius: 3px; 
			width: 300px; 
			min-height: 455px; 
			margin: 40px auto;
			border: 1px solid #f1f1f1;
			color: #778490;
            resize: vertical;
            overflow: auto;
		}

		.logo {
			width: 90px;
			height: 90px;
			margin: 15px auto 15px;
			display: block;
		}

		.title {
			font-size: 16px;
			text-align: center;
			line-height: 20px;
		}
        .mirror-list {
            height:280px;
            overflow-y:scroll;
        }

		.list-item {
			margin: 15px 0 15px 35px;
            min-height: 39px;
		}

		.mirror-icon {
			width: 40px;
			height: 40px;
			float: left;
		}
		
		.item-container {
			margin-left: 50px;
			padding-top: 5px;
			margin-bottom: 10px;
		}

		.mirror-title a {
			font-size: 16px;
			font-weight: bold;
			line-height: 16px;
			color: #778490;
			text-decoration: none;
		}
		.update-time {
			font-size: 12px;
			line-height: 16px;
			color: #ccc;
		}
        .update-status{
             color: #000;
        }
		.footer {
			margin-top: 20px;
			font-size: 12px;
			text-align: center;
			margin-bottom: 10px;
		}

		.footer a {
			text-decoration: none;
			color: #20b8fc;
		}
