body {
    margin: 0px;
}

[v-cloak] {
    display: none;
}

.container{
    width: 75%;
    margin: 0 auto;
}

#menu{
    background-color: #eef1f6;
}

#menu .el-menu-item.is-active{
    color: #34495e;
}

#menu .title{
    float: left;
    display: inline-block;
    line-height: 60px;
    margin-left: 60px;
    font-size: 24px;
    color: #34495e;
}

.navBar {
    float: right;
    margin-right: 60px;
}

a {
    color: #000;
    text-decoration: none;
}

#mirrors-list,#isos,#news,#links,#copyright {
    padding: 20px 40px;
}

#mirrors-list a:hover {
    text-decoration: underline;
}

.bar {
    width: 100%;
    margin: 10px 20px;
}

.bar .title {
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    color: #435c70;
}

.bar .search {
    display: inline-block;
    width: 200px;
    float: right;
    margin-right: 50px;
}

#news li{
    line-height: 25px;
}

#news a:hover,#links a:hover {
    text-decoration: underline;
}

#news a,#links a{
    margin:5px 10px;
    color: #34495e;
}

#copyright {
    background-color: #435c70;
    color: #dbdbdb;
    font-size: 14px;
    line-height: 25px;
    padding: 20px 40px;
}

#copyright a {
    color: #fff;
    font-weight: bold;
    margin: 0 5px;
}

#copyright .content{
    width: 72%;
    margin: 10px;
    display: inline-block;
}

#copyright p{
    margin: 0;
}

#copyright .logo {
    display: inline-block;
    position: relative;
    float: right;
    background: url(/logo.png) no-repeat;
    background-size: 70px 70px;
    background-position: top;
    margin-top: 8px;
    padding-top: 80px;
    font-size: 24px;
    color: #fff;
}

@media screen and  (max-width: 1370px) {
    .container {
        width: 100%;
    }
}